# ==============================
# Build / 编译产物
# ==============================

build/
Output/
Objects/
Listings/

*.o
*.d
*.lst
*.map
*.axf
*.hex
*.bin
*.elf

# ==============================
# Keil 自动生成
# ==============================

*.bak
*.dep
*.log

# ==============================
# VSCode 缓存
# ==============================

.vscode/*.log

# ==============================
# 系统文件
# ==============================

.DS_Store
Thumbs.db

# ==============================
# 临时文件
# ==============================

*.tmp
*.temp
*.swp